<h1>Users</h1>

<%= link_to "Add a new user", sign_up_path %><br /><br />

<% if @users %>
  <table>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Role</th>
    </tr>
  <% @users.each do |user| %>
    <tr>
    <td><%= link_to user.name, edit_user_path(user.id) %></td>
    <td><%= user.email %></td>
    <td><%= user.role %></td>
    </tr>
  <% end %>
  </table>
<% end %>